html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Quantico", sans-serif;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
.menuButtons {
  position: absolute;
  /* top: 80px; */
  bottom: 210px;
  left: 0;
  width: 950px;
  height: 30px;
  border: 3px solid black;
  background-color: antiquewhite;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  font-family: "Quantico", sans-serif;
  border-top-right-radius: 10px;
}
.menuBtn {
  width: 120px;
  background-color: lightcyan;
  font-weight: 800;
  border-radius: 10px;
}

#hideShowBuilder {
  margin-left: 70px;
}

.controller {
  position: absolute;
  /* top: 80px; */
  bottom: 216px;
  right: 0;
  margin-right: 15px;
  border: 3px solid grey;
  border-radius: 10px;
  background-color: black;
  height: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.controllerButton {
  width: 120px;
  background-color: rgb(98, 98, 98);
  font-weight: 800;
  color: white;
  border-radius: 5px;
}
.stickyFooter {
  position: absolute;
  /* top: 80px; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  border: 3px solid black;
  background-color: antiquewhite;
  padding-left: 10px;
  padding-top: 10px;
}

#builderMenu {
}
.itemButtons {
  background-color: rgb(253, 255, 224);
  font-weight: 800;
}
#desertButton {
  width: 5%;
  font-weight: 800;
  /* color: pink; */
}
